/* Add a background color to the top navigation */
.topnav {
    background-color: rgb(19, 10, 10);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(208, 112, 112);
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #c41a0b;
    color: white;
  }
  /**
  logo
  */
  .logo {
    float: left;
    width: 80px;
    height: 50px;
  }
  /*footer*/
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #c41a0b;
    color: rgb(14, 9, 9);
    text-align: left;
    font-style: oblique;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
 }
 